<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>

  </style>
</head>

<body>

  <h4> You commented on Article, <%= @editor %> </h4>

<%#= yield %>
</body>
</html>

<!--<p>-->
  <!--    <%#= @user.name %> has commented on your article! It says: "<%#= @comment %>". Go check it out!<br>-->
<!--</p>-->