<%= bootstrap_form_with(model: @article, local: true) do |f| %>
  <%#= f.label :headline %>
  <%= f.text_field :headline %>
  <%#= f.label :body %>
  <%= f.text_area :body  %>
  <%= f.submit %>
<% end %>

<%#= bootstrap_form_with(model: @user, local: true) do |f| %>
  <%#= f.email_field :email %>
  <%#= f.password_field :password %>
  <%#= f.check_box :remember_me %>
  <%#= f.submit "Log In" %>
<%# end %>

<%#= form_with(model: article, local: true) do |form| %>
  <%# if article.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>-->

<!--      <ul>-->
      <%# article.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div class="field">-->
    <%#= form.label :headline %>
    <%#= form.text_field :headline %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :body %>
    <%#= form.text_area :body %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>
