<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<button type="button" class="btn btn-outline-primary" style="alignment: right">
  <%= link_to 'Show', @article %>
</button>

<button type="button" class="btn btn-outline-primary" style="alignment: right">
  <%= link_to 'Back', articles_path %>
</button>

