<p id="notice"><%= notice %></p>

<h1>My Articles</h1>

<div class="container">

  <% @articles.each do |article| %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= article.headline %></h4>
      <p class="card-text"><%= article.body %></p>
      <button type="button" class="btn btn-outline-primary">
        Read More!
      </button>


      <button type="button" class="btn btn-outline-primary" style="alignment: right">
        Edit
        <%#= link_to 'Edit Article', edit_article_path %>
      </button>

      <button type="button" class="btn btn-outline-primary" style="alignment: right">
        Delete
        <%#= link_to 'Delete Article', destroy_article_path %>
      </button>

    </div>
  </div>
  <% end %>

  <br>
  <br>

  <button type="button" class="btn btn-outline-primary">
    <%= link_to 'New Article', new_article_path %>
  </button>

</div>

