<div class="container">

  <div class="row">

    <div class="col-2 col-md-2">
      <%= render "apiCalls/indexWeatherApi" %>
    </div>

    <div class="col-10 col-md-10">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-4">Welcome to NewsWave</h2>
          <p class="lead">For the most up-to-date news, all in the one place! Get news from multiple sources as well as contribute by making an Editor account!</p>
        </div>
      </div>

    </div>

    <div class="col-4 col-md-4"></div>

  </div>

</div>

<div class="container">

  <div class="row">

    <%= render "apiCalls/indexNewsApiHeadlines" %>

  </div>

</div>

<%= render 'layouts/footer' %>