<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Welcome to NewsWave</h2>
    <p class="lead">For the most up-to-date news, all in the one place! Get news from multiple sources as well as contribute by making an Editor account!</p>
  </div>
</div>

<div class="container">

  <div class="row">

    <%= render "newsApi/indexNewsApiHeadlines" %>

    <%= render "newsApi/indexNewsApiEverything" %>

  </div>

</div>

<%= render 'layouts/footer' %>