<!-- Footer with links to API sources -->

<br>
<br>

<footer class="page-footer">

  <div class="footer-copyright text-center py-3">© 2020 Copyright, Sources:

    <a href="https://newsapi.org/"> NewsApi </a>
    <a href="https://openweathermap.org/api"> OpenWeather Api </a>

  </div>

</footer>