<% @everything.each do |article|%>

  <div class="col-md-4">
    <div class="card" style="width: 23rem; height: 620px; padding: 20px;">
      <img class="card-img-top" style="width: 330px; height: 300px;"  src=<%= article.urlToImage %> >
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"> <%= article.description %> </p>

        <button type="button" class="btn btn-outline-primary" style="alignment: right">
        <%#= link_to 'Read More...', page_path %>
        </button>

<!--        <a href="<%#= article.url %>" class="btn btn-primary"> Read More... </a>-->

      </div>
    </div>
  </div>

<% end %>
