<h1>Editing Comment</h1>


<%= render 'form' %>

<br>

<button type="button" class="btn btn-outline-primary" style="alignment: right">
  <%= link_to 'Show', article_comments_path(@article, @comment) %>
</button>

<button type="button" class="btn btn-outline-primary" style="alignment: right">
  <%= link_to 'Back', article_comments_path(@article) %>
</button>




