<div class="container">

  <div class="row">

    <div class="card" style="width: 10rem; height: 270px; padding: 20px;">

      <div class="card-body" style="margin: auto; padding-left: 25px; padding-right: 25px; padding-top: 40px; width: 7rem;">

        <%= image_tag "weatherIcon.jpg", size: "80x80"%>
        <p style="font-family: 'Verdana'; alignment: center;"> Weather </p>
        <h5 class="card-title" style="font-family: 'Verdana';"> <%= @weather %>°C </h5>

      </div>

    </div>
  </div>

</div>